<div fxFill fxLayout="column">
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="mainSVC.menu.toggle()" aria-label="Main menu button">
            <mat-icon>menu</mat-icon>
        </button>
        <span>{{mainSVC.AppTitle}}</span>
        <div fxFlex></div>
        <button mat-icon-button (click)="mainSVC.CurrentScreen='current_job'" >
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar>
    <div fxFlex fxLayout="column" fxLayoutAlign="center center" style="overflow: auto;">
        <h1>
            not implemented yet  :-(
        </h1>
    </div>

</div>




